@charset "utf-8";

.main{
	border-style: double;
	border-color: darkblue;
	padding-top:15px;
}

.button1{
	text-decoration: none;
    background-color: black;
    color: white;
	text-align: center;
    padding: 15px 25px;
    width: 30%;
    display: inline-block;
	margin-left: 40px;
	border:1px solid black;
	border-radius:4px;
}

.button2{
	text-decoration: none;
    background-color: black;
    color: white;
	text-align: center;
    padding: 15px 25px;
    width: 20%;
    display: inline-block;
	margin-left: 100px;
	border:1px solid black;
	border-radius:4px;
}

.jobDes{
	width: 30%;
	display: inline-block;
	background:white;
	border:1.8px solid black;
	border-radius:4px;
	padding:10px 10px;
	margin-left:7px;
	margin-right:7px;
	margin-top:10px;
}

.jobtitle{
	font-weight:strong;
	text-align:center;
	color:red;
	font-size:17px;
}

