.appBox{
	display: inline-block;
	width: 14%;
	background:white;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	border:1px solid black;
	padding:10px 25px;
	border-radius:4px;
}

.icon{
	width:60px;
	height:60px;
}

a.getApp{
	text-decoration:none;
	background-color: black;
    color: white;
    padding: 15px;
    width: 70%;
    text-align: center;
    display: inline-block;
	border-radius:3px;
}

a.rateApp{
	text-decoration:none;
	background-color:white;
    color: black;
	border:2px solid black;
    padding: 5px;
    width: 30%;
    text-align: center;
    display: inline-block;
}

#logout{
	background-color: black;
	color: white;
	width: 5%;
	padding: 10px;
}


